<aside class="bg-primary">

<div class="cartas">
<div class="card" style="width: 20rem;">
  <img src=".../app/assets/img/alumnos.jpg" class="card-img-top" alt="fotos de alumnos en el aula">
  <div class="card-body">
    <h5 class="card-title">Alumnos</h5>
    <p class="card-text">Datos de alumnos.</p>
    <a href="#" class="btn btn-primary">Ingresar</a>
  </div>
</div>

<div class="card" style="width: 20rem;">
  <img src=".../app/assets/img/docentes.jpg" class="card-img-top" alt="foto de docente dando clases">
  <div class="card-body">
    <h5 class="card-title">Docentes</h5>
    <p class="card-text">Datos de docentes.</p>
    <a href="#" class="btn btn-primary">Ingresar</a>
  </div>
</div>

<div class="card" style="width: 20rem;">
  <img src=".../app/assets/img/invitados.jpg" class="card-img-top" alt="foto de invitados en la biblioteca">
  <div class="card-body">
    <h5 class="card-title">Invitados</h5>
    <p class="card-text">Ingreso de invitados.</p>
    <a href="#" class="btn btn-primary">Ingresar</a>
  </div>
</div>

</div>
</aside>
